.box{
  width: 200px;
  height: 200px;
  display: inline-block;
  margin:20px;
}
  .blue{
    background: blue;
  }
  .grey{
      background: grey;
  }
  .pink{
    background: pink;
  }
  .black{
    background: black;}
